.link {
  outline: none;
  text-decoration: none;
}

.card {
  min-height: 300px;
  min-width: 250px;
  background-color: var(--secondary-blue);
  border-radius: 20px;
  color: var(--primary-yellow);
  text-align: center;
  padding: 10px;
  display: flex;
  flex-direction: column;
  gap: 12px;
  align-items: center;
  box-shadow: 8px 8px 10px rgba(0, 0, 0, 0.25);
  transition: transform 0.2s ease;
}

.card:hover {
  transform: scale(1.05);
}

.list {
  display: flex;
  flex-wrap: wrap;
  gap: 20px;
  margin: 20px;
}

.list p {
  color: var(--primary-white);
}

.image {
  height: 100px;
  width: 90px;
  object-fit: cover;
  overflow: hidden;
  border-radius: 12px;
}
