:root {
  --primary-blue: #002060;
  --secondary-blue: #0040a0;
  --primary-green: #408000;
  --secondary-green: #55cb1b;
  --letter-color: #141313;
  --primary-yellow: #e0a000;
  --detail-color: #c0c0c0;
  --primary-white: #f0eee9;
  --primary-purple: #5f00a0;
}

body {
  margin: 0;
  font-family: Arial, sans-serif;
}

main {
  padding-top: 100px;
}
