.card {
  height: 350px;
  overflow: hidden;
}

.slider {
  height: 100%;
  display: flex;
  transition: transform 0.8s ease;
  border-bottom: 4px solid var(--primary-green);
}

.cardImage {
  height: 100%;
  width: 100%;
  flex: 0 0 100%;
  object-fit: cover;
  object-position: left;
}

.professionals {
  font-size: 35px;
  padding-left: 20px;
  margin-top: 35px;
  font-style: oblique;
}

.professionals a {
  text-decoration: none;
  color: var(--secondary-blue);
}

.professionals a:hover {
  color: var(--primary-green);
}